# ASSIGNMENT 3

In [50]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statsmodels.api as sms
from scipy import stats
import warnings
warnings.filterwarnings('ignore')
import statsmodels as sm
from scipy.stats import chi2_contingency
from scipy.stats import chisquare

# Hypothesis Testing

# Question-1

 "" A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two
 units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw
 inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of
 the assumptions.""
 <<Minitab File : Cutlets.mtw>>

In [51]:

# Load the dataset
data=pd.read_csv('Cutlets.csv')
data

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [52]:
unitA=pd.Series(data.iloc[:,0])
unitA

0     6.8090
1     6.4376
2     6.9157
3     7.3012
4     7.4488
5     7.3871
6     6.8755
7     7.0621
8     6.6840
9     6.8236
10    7.3930
11    7.5169
12    6.9246
13    6.9256
14    6.5797
15    6.8394
16    6.5970
17    7.2705
18    7.2828
19    7.3495
20    6.9438
21    7.1560
22    6.5341
23    7.2854
24    6.9952
25    6.8568
26    7.2163
27    6.6801
28    6.9431
29    7.0852
30    6.7794
31    7.2783
32    7.1561
33    7.3943
34    6.9405
Name: Unit A, dtype: float64

In [53]:
ImageGrab.grabclipboard()

NameError: name 'ImageGrab' is not defined

In [ ]:
unitB=pd.Series(data.iloc[:,1])
unitB

In [ ]:
unitA.mean()

In [ ]:
unitB.mean()

In [ ]:
data.info()

In [ ]:
data.describe()

In [ ]:
data.isnull().sum()

In [ ]:
plt.figure(figsize=(10,5))
plt.subplot(121)
plt.boxplot(unitA)
plt.title('unitA')
plt.subplot(122)
plt.boxplot(unitB)
plt.title('unitB')
plt.show()

In [ ]:
plt.figure(figsize=(8,5))
plt.subplot(121)
plt.hist(unitA,bins=8,edgecolor="red",color="green")
plt.title('histogram of unitA')
plt.subplot(122)
plt.hist(unitB,bins=8,edgecolor="red",color="green")
plt.title('histogram of unitB')
plt.show()

In [ ]:
labels=("unitA","unitB")
sns.distplot(unitA)
sns.distplot(unitB)
plt.legend(labels)
plt.title("Distribution plot of UnitA and UnitB(Cutlets.csv)")
plt.show()

In [ ]:
plt.figure(figsize=(2,2))
sms.qqplot(data["Unit A"],line="q")
plt.title('UnitA')
sms.qqplot(data["Unit B"],line="q")
plt.title('UnitB')
plt.show()

In [ ]:
statistics,p_value=stats.ttest_ind(unitA,unitB,alternative="two-sided")

checking whether is there any significant difference between UnitA and UnitB 0r they are equal at 5% significance level
Assume-----> H0=Null hypothesis      ====>mean(unitA)=mean(unitB)
      -----> H1=Alternate hypothesis ====>mean(unitA)!=mean(unitB)
      
      significance=5%     alpha=0.05 
      
      As it is two-tailed test  alpha/2=0.025

In [ ]:
alpha=0.025
print("significance=%.3f,p_value=%.3f" % (alpha,p_value))
if p_value>=alpha:
    print("p_value>alpha,Therefore accept null hypothesis, No significant difference both unitA and unitB")
else:
    print("Reject null Hypothesis")
print("="*80)
print('Hence its statistically proven that mean(unitA)=mean(unitB)')
print("="*80)

# Question-2

"" A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the 
  laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories.
  TAT is defined as sample collected to report dispatch.
  Analyze the data and determine whether there is any difference in average TAT among the different laboratories at
  5% significance level.""

  <<Minitab File: LabTAT.mtw>>

In [ ]:
lab=pd.read_csv("LabTAT.csv")
lab

In [ ]:
lab.describe()

As the comparision of mean is more than 2 samples we use ANOVA TEST.Also called as F-test/fF statistics

Assumption:
    H0=Null Hypothesis       => NO DIFFERENCE IN AVERAGE TAT
    H1=Alternate Hypothesis  => DIFFERENCE IN AVERAGE TAT
    
    Significance=5%
    alpha=0.05

In [ ]:
alpha=0.05
p_value=stats.f_oneway(lab.iloc[:,0],lab.iloc[:,1],lab.iloc[:,2],lab.iloc[:,3])
p_value

As the p_value is greater than alpha (p_value=2.1156708949992414e-57>alpha=0.05) we accept Null Hypothesis.

Therefore,Statistically there is no any difference in average TAT among the different laboratories at 5% significance level.

# Question-3

Itslf in question that
    H0=Null Hypothesis      ==>All proportion are equal
    H1=Alternate Hypothesis ==>Not all proportions are equal
    Asusal alpha value=0.05
As the comparision is between porportions we solve using CHI-SQUARE TEST which is also called Non-Parametric Test.

In [ ]:
alpha=0.05
buyers=pd.read_csv("BuyerRatio.csv")
buyers

In [ ]:
observed_value=buyers.iloc[:,1:5]
observed_value

In [ ]:
expected_value=stats.chi2_contingency(observed_value)
expected_value

In [ ]:
observed_value=np.array([  50,  142,  131,   70, 435, 1523, 1356,  750])
expected_value=np.array([42.76531299,  146.81287862,  131.11756787,   72.30424052, 442.23468701, 1518.18712138, 1355.88243213,  747.69575948])

In [ ]:
statistics,p_value=stats.chisquare(observed_value,expected_value)
print("statistics value=",statistics,"p_value=",p_value)
print("="*70)
if (p_value>alpha):
    print("we accept NULL HYPOTHESIS, All proportions are equal")
else:
    print("Not all the proportions are equal,accept alternate Hypothesis")
print("="*70)

# Question-4

In [ ]:
customers=pd.read_csv("Costomer+OrderForm.csv")
customers

In [ ]:
customers.describe()

In [ ]:
print(customers['Phillippines'].value_counts(),'\n',customers['Indonesia'].value_counts(),'\n',customers['Malta'].value_counts(),'\n',customers['India'].value_counts())

In [ ]:
contingency_table=([271,267,269,280],[29,33,31,20])
print(contingency_table)

In [ ]:
stats,p,df,exp=stats.chi2_contingency(contingency_table)
print("statistics=",stats,'\n',"p_value=",p,'\n',"degrees of freedom=",df,'\n',"expected values=",exp)

In [ ]:
observed=np.array([271, 267, 269, 280, 29, 33, 31, 20])
expected=np.array([271.75, 271.75, 271.75, 271.75, 28.25,  28.25,  28.25,  28.25])

In [ ]:
stats,p_value=chisquare(observed,expected,ddof=df)
print("statistics =",stats,"p_value=",p_value)

Compare pvalue with α = 0.05 (At 5% significance level)

As pvalue is 0.425 which is not equal to α=0.5

We fail to reject Null Hypothesis because of lack of evidence.

# ---------------------------------------------------------------------------------------------------------------